{% extends "index.html" %}
{% block title %}Naive approach{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        body {
            font-family: sans-serif;
            font-size: 16px;
            overflow: hidden;
        }

        #left, #right {
            height: 75px;
            margin-top: 10px;
            border: 0;
            outline: 0;
            margin-right: 2px;
            border-radius: 0;
        }

        /* Borrowed */
        html, body {
            height: 100%;
        }

        .container-fluid {
            margin: 0 auto;
            height: 100%;
            padding: 0;

            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        .columns {
            background-color: #C9E6FF;
            height: 100%;
        }

        .content-area, .article-tree {
            background: #bada55;
            overflow: auto;
            height: 100%;
        }

        .footer {
            background: red;
            height: 20px;
        }

    </style>
{% endblock %}
{% block content %}
    {% raw %}
    <div ng-app="rec" class="row-fluid columns content">
        <div ng-controller="recController" class="span12 content-area">
            <div class="center span12" id="map_canvas" style="height: 100%;"></div>

            <div id="log_container" style="position: absolute; width: 534px; top: 0; left: 0;">
                <button id="left" type="button" class="btn btn-default btn-sm pull-right">
                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                </button>
                <button id="right" type="button" class="btn btn-default btn-sm pull-right"
                        style="display: none;">
                    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                </button>

                <div style="width: 500px; padding: 15px; height: 100%; overflow-y: scroll; background: #FFF; box-shadow: 0 0 20px rgba(0,0,0,0.3);"
                     class="pull-left">
                    <div class="alert alert-info" role="alert" ng-bind-html="alertMsg"></div>
                    <form class="form-inline" style="margin-bottom: 8px;">
                        <div class="form-group">
                            <label for="user">(1) User</label>
                            <input type="text" style="width: 225px;" title="Enter User ID" class="form-control" id="user" ng-model="user"
                                   placeholder="User ID" autofocus>
                        </div>
                        <button type="button" class="btn btn-default" ng-click="markVisited()">Fetch Visited Places
                        </button>
                    </form>

                    <p>(2) Mark region of interest on the map</p>

                    <p><a href="#" role="button" ng-click="handleFormSubmit()">(3) Recommend</a></p>

                    <p>(4) Recommendations</p>
                    <ol>
                        <li ng-repeat="reco in recommendations">
                            <a ng-repeat="node in reco" rel='popover' tabindex="0" class="btn btn-link"
                               role="button"
                               style="padding: 0;"
                               title="{{ popUpTitle(node) }}" data-content="{{ popUpContent(node) }}">
                                {{ nodeDisplay(node)}}
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    {% endraw %}


    <script type="text/javascript" src="/static/node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="/static/node_modules/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="/static/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key={{ maps_api_key }}&v=3.exp&signed_in=false&libraries=visualization,drawing"></script>
    <script type="text/javascript">
        // Utils
        class Logger {
            constructor() {

            }

            info(e) {
                console.log(e.message, e.data)
            }

            warn(e) {
                console.log(e.message, e.data)
            }

            error(e) {
                console.log(e.message, e.data)
            }
        }
    </script>
    <script type="text/javascript">
        (function (angular, $) {
            let app = angular.module('rec', ['ngSanitize']);
            let l = new Logger()
            app.controller('recController', function ($scope, $http) {
                $scope.user = '2AGGIi5EiVLM1XhBXaaAVw';
                $scope.alertMsg = 'Follow steps below to find recommendations for any user';

                $scope.stringit = function (s) {
                    return JSON.stringify(s);
                }

                $scope.nodeDisplay = function (node) {
                    if (node.props.name)
                        return node.props.name;
                    else
                        return ` -[${node.type}]-> `;
                }

                $scope.popUpContent = function (node) {
                    if (node.props.name) {
                        if (node.labels.indexOf('Person') >= 0) {
                            // Person
                            return `<strong>Node Type</strong>: Person <br/> <strong>Fans</strong>: ${node.props.fans} <br/> <strong>Years as an elite</strong>: ${node.props.elite.join(', ')} <br/>`
                        }
                        else {
                            // Business
                            return `<strong>Node Type</strong>: Business <br/> <strong>Type of business</strong>: ${node.props.categories.join(', ')} <br/>`
                        }
                    }
                    else {
                        // Relation
                        if (node.type === 'FRIEND') {
                            // FRIEND relationship
                            return '<strong>A -[FRIEND]-> B</strong><br /><em>This means, A is a friend of B</em>'
                        }
                        else {
                            // Review relationship
                            return `<strong>Stars</strong>: ${node.props.stars}<br /><strong>A -[REVIEWED]-> B</strong><br /><em>This means, A visited business B and rated it</em>`
                        }
                    }
                }

                $scope.popUpTitle = function (node) {
                    if (node.props.name) {
                        // Person or Business
                        return node.props.name
                    }
                    else {
                        // Relation
                        if (node.type === 'FRIEND') {
                            // FRIEND relationship
                            return 'A friend of'
                        }
                        else {
                            // Review relationship
                            return 'Rating'
                        }
                    }
                }

                $scope.markVisited = function () {
                    let url = `/${$scope.user}/reviews`
                    $http.get(url).success(function (data) {
                        addMarkers(data.reviewed);
                    }).error(function (data) {
                        l.error({message: 'Error during fetching reviewed businesses for a user', data: data});
                    })
                }

                $scope.recommend = function () {
                    if ($scope.user.trim().length == 0)
                        return;
                    let url = `/${$scope.user}/recommend`;
                    let config = {
                        params: getRegionBounds(R)
                    }
                    $scope.alertMsg = `At ${new Date()} started working...`
                    $http.get(url, config).success(function (recommendations) {
                        // list of paths where each path is a list of nodes and relationships
                        $scope.recommendations = recommendations.paths;
                        $scope.alertMsg += `<br />Here are the best ${recommendations.paths.length} recommendations. <br />At ${new Date()} finished working...`

                        // Gather recommended businesses and mark them on map
                        // let biz = recommendations.paths.map(p => p[p.length - 1].props.id) // PyCharm doesnt support ES2015
                        let biz = recommendations.paths.map(function (p) {
                            return p[p.length - 1].props.id;
                        });
                        $scope.markBusinesses(biz);
                    }).error(function (data) {
                        l.error({message: 'Error recommending businesses for a user', data: data});
                    })
                }

                $scope.handleFormSubmit = function () {
                    R ? $scope.recommend() : $scope.markVisited()
                }

                $scope.markBusinesses = function (bids) {
                    if (bids.length == 0)
                        return;
                    let url = `/${bids.join(',')}/info`
                    $http.get(url).success(function (businesses) {
                        addMarkers(businesses.about, false, recommendedBusinessMarkerImage, recommendedBusinessMarkerShape);
                    }).error(function (data) {
                        l.error({message: 'Error adding recommended businesses to the map', data: data});
                    });

                }
            });

            $("body").popover({
                selector: '[rel="popover"]',
                placement: 'top',
                trigger: 'hover',
                html: true
            });

            // Google Map Setup
            const mapOptions = {
                zoom: 3,
                center: new google.maps.LatLng(33.504220229503886, -112.19151860546874),
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                disableDoubleClickZoom: true // This event is used to remove a rectangle / query window
            };

            let map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
            var drawingManager = new google.maps.drawing.DrawingManager({
                drawingMode: null,
                drawingControl: true,
                drawingControlOptions: {
                    position: google.maps.ControlPosition.TOP_CENTER,
                    drawingModes: [
                        google.maps.drawing.OverlayType.RECTANGLE
                    ]
                },
                rectangleOptions: {
                    editable: true,
                    draggable: true
                }
            });
            drawingManager.setMap(map);

            let R = null;
            google.maps.event.addListener(drawingManager, 'rectanglecomplete', function (rectangle) {
                if (R) R.setMap(null); // clear existing rectangle
                R = rectangle;
                drawingManager.setDrawingMode(null);
                // map.fitBounds(R.getBounds());

                google.maps.event.addListener(rectangle, 'dblclick', function (e) {
                    this.setMap(null); // remove the rectangle
                    R = null;
                });
            });

            const recommendedBusinessMarkerImage = {
                url: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
                // This marker is 20 pixels wide by 32 pixels high.
                size: new google.maps.Size(20, 32),
                // The origin for this image is (0, 0).
                origin: new google.maps.Point(0, 0),
                // The anchor for this image is the base of the flagpole at (0, 32).
                anchor: new google.maps.Point(0, 32)
            };
            const recommendedBusinessMarkerShape = {
                coords: [1, 1, 1, 20, 18, 20, 18, 1],
                type: 'poly'
            };

            let markers = []
            let infowindow = new google.maps.InfoWindow({
                content: ''
            });

            /**
             * Adds a marker for every business passed in the list on the map
             * Each business object should be of the form:
             * {_id: "-lOSaCuBRAvX5JBifx-EMw"
                loc: [-112.0686202, 33.4521542],
                name: "Mi Amigo's Mexican Grill"
                stars: 3}
             * @param businesses an array of business objects
             */
            function addMarkers(businesses, clearExisting=true, image=null, shape=null) {
                if (clearExisting)
                    clearMarkers();
                if (businesses.length == 0)
                    return;
                let bounds = new google.maps.LatLngBounds();
                for (let b of businesses) {
                    let marker = new google.maps.Marker({
                        position: {lat: b.loc[1], lng: b.loc[0]},
                        map: map,
                        icon: image,
                        shape: shape,
                        title: b.name,
                        content: `<strong>Name</strong>: ${b.name}<br/><strong>Stars</strong>: ${b.stars}`
                    });
                    marker.addListener('click', function () {
                        infowindow.setContent(marker.content);
                        infowindow.open(map, marker);
                    });
                    markers.push(marker);
                    bounds.extend(marker.position);
                }
                map.fitBounds(bounds); // zoom map to fit all markers
            }

            /**
             * Clears all markers on the map
             */
            function clearMarkers() {
                for (let m of markers) {
                    m.setMap(null);
                }
                markers = [];
            }

            /**
             * Fetches the bounds of rectangle region drawn on map
             * @param rectangle rectangle instance
             * @returns {swlong: *, swlat: *, nelong: *, nelat: *}
             */
            function getRegionBounds(rectangle) {
                var bounds = rectangle.getBounds();

                var data = {
                    swlong: bounds.getSouthWest().lng(), swlat: bounds.getSouthWest().lat(),
                    nelong: bounds.getNorthEast().lng(), nelat: bounds.getNorthEast().lat()
                }
                return data;
            }

            /**
             * Panel Management and initialization CSS
             */
            $(".btn").on("click", function () {
                var id = $(this).attr("id");
                if (id === "left") {
                    hidePanel();
                }
                else if (id === 'right') {
                    showPanel();
                }
            });

            function hidePanel() {
                $("#log_container").animate({left: -500}, 200, "swing");
                $("#left").hide();
                $("#right").show();
            }

            function showPanel() {
                $("#log_container").animate({left: 0}, 200, "swing");
                $("#left").show();
                $("#right").hide();
            }

            $("#map_canvas, #log_container").css({height: $(document).height()})

            $(window).on('resize', function () {
                $("#map_canvas, #log_container").css({height: $(document).height()})
            });
        })(window.angular, window.$);
    </script>

{% endblock %}